---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';

const skills = [
  {
    category: "Backend Development",
    description: "Building systems that integrate with databases (Firebase, MongoDB, MySQL) and APIs.",
  },
  {
    category: "DevOps & Deployment",
    description: "Experience with Docker, GitLab CI/CD, and pipeline automation.",
  },
  {
    category: "UX/UI Design",
    description: "Ability to take concepts from ideation to fully functional, deployable designs, with a focus on usability and visual consistency using Figma.",
  },
];
---

<section id="skills">
  <SkillsOnTerminal />
  <div class="text-content">
    <Title contenido="Skills" />
    <ul class="skills-list" style="color: white;">
      {skills.map(skill => (
        <li class="about__text">
          <strong>{skill.category}:</strong> {skill.description}
        </li>
		<br>
      ))}
    </ul>
  </div>
</section>
