---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				Hi! I'm Belfor, a Software Engineering student at Universidad de La Frontera, Chile, with a passion for programming and a love for cats 🐱.

			</p>
		
			
			<p class="about__text">
				I enjoy creating innovative projects in my free time, including a role-playing tabletop game I'm currently developing.
			</p>
			<p class="about__text">
				I'm also a fan of video games, which often inspire my creativity and problem-solving approach to projects.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
