<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <!-- Image -->
      <img
        class="mx-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="500"
        src="/assets/hackathon.jpeg"
        alt="Me working on a project"
      />

      <!-- Content -->
      <div class="flex flex-col gap-10">
        <!-- Mission/Introduction -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About Me</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Well, as you might already know by now, I'm a Software Engineering student, currently in my final semester and set to graduate in mid-2025. I was initially pursuing a different career before this one and I switched to computer sciences in 2022 because I love programming and I wanted to make a career out of it.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Over the years, I’ve worked on various projects from backend APIs to interactive applications. While I’ve enjoyed problem-solving and collaborating with others in every project, my favorite areas are backend development, system deployment, and designing user-friendly UX/UI designs.</p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                Back in 2023, my team and I won a university hackathon focused on UX/UI design (that's where the picture you're seeing was taken). It was a fantastic learning experience and a fun challenge. I'm always eager to take on new opportunities to grow and learn.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Outside of work, I’m calm and easygoing. I really like tranquility, peaceful environments, playing instruments, and I'm always listening to music.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            As you can see, this is me in the picture, that was back in 2023 when my team and I won a hackathon of UX/UI design in my university. It was a great experience and I learned a lot from it. I'm always looking for new challenges and opportunities to grow and learn new things.
            </p>
            
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
            <dt class="text-base">Age</dt>
            <dd class="text-3xl font-medium tracking-tight">25</dd>
          </div>
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
            <dt class="text-base">Hackathons</dt>
            <dd class="text-3xl font-medium tracking-tight">2</dd>
          </div>
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
            <dt class="text-base">Street cats I couldn't resist petting</dt>
            <dd class="text-3xl font-medium tracking-tight">999+</dd>
          </div>
          <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
            <dt class="text-base">Hours spent programming (and getting backaches)</dt>
            <dd class="text-3xl font-medium tracking-tight">a lot</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
