---
const services = [
  {
    step: '01',
    name: 'Picbox',
    description:
      'A Pinterest like app where you can upload and share your images. Created using Springboot, MySQL and Thymeleaf',
    link:"/picbox"
  },
  {
    step: '02',
    name: 'Stochastics processes Calculator',
    description:
      'A full calculator for stochastics processes, it shows formulas, graphics and images. Created using VueJS, docker and google cloud.',
    link:"/stochastics"
  },
  {
    step: '03',
    name: 'UX/UI Design for a web app',
    description:
      'I made the full design for a web app that helps organizations to evaluate their transparency statutes. Created using Figma.',
    link:"/uxdesign"
  },
  {
    step: '04',
    name: 'T2R2: Public tenders creator',
    description:
      'A web application that helps you to create public tenders. It manages PDF docs using templates. Created using Express, MongoDB, VueJS and Flask.',
  },
  {
    step: '05',
    name: 'Playground',
    description:
      'A space where I showcase small functionalities and experiments I develop while learning new technologies.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">My projects</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <a href={service.link}>
              <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
