---
import IconComponent from "../../atoms/IconComponent"
const icons = [
  { name: 'Spring Boot', icon: 'simple-icons:springboot' },
  { name: 'MySQL', icon: 'skill-icons:mysql-light' },
  {name:'Thymeleaf', icon:'devicon:thymeleaf'}
]
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div>
        <!-- Images container -->
        <img
          class="mx-auto max-w-xl rounded-3xl"
          width="800"
          height="600"
          src="/assets/picbox/picboxgif.gif"
          alt="Me working on a project"
        />
        <img
          class="mx-auto max-w-xl rounded-3xl mt-12"
          width="800"
          height="600"
          src="/assets/picbox/uploadpicbox.gif"
          alt="Me working on a project"
        />
      </div>
      <!-- Content -->
      <div class="flex flex-col gap-10">
        <!-- Project explanation -->
        <div class="space-y-8 sm:space-y-12">
          <div class="flex items-center justify-between rounded-3xl">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Picbox</h2>
            <div class="flex items-center justify-between gap-x-4">
              {icons.map((icon) => (
                <IconComponent icon={icon.icon} client:load />
              ))}
            </div>
          </div>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Picbox was my first web project and it was a great learning experience. I built it using Springboot, MySQL, and Thymeleaf. 
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              It's a "Pinterest like" web app where you can upload images and share them with other users.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Back in 2023, my team and I won a university hackathon focused on UX/UI design (that's
              where the picture you're seeing was taken). It was a fantastic learning experience and
              a fun challenge. I'm always eager to take on new opportunities to grow and learn.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Outside of work, I’m calm and easygoing. I really like tranquility, peaceful
              environments, playing instruments, and I'm always listening to music.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              As you can see, this is me in the picture, that was back in 2023 when my team and I
              won a hackathon of UX/UI design in my university. It was a great experience and I
              learned a lot from it. I'm always looking for new challenges and opportunities to grow
              and learn new things.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
