---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Belfor Acuña" />
		<SocialIcons width="23" height="23" />
	</div>

	<aside class="footer__links">
		<ul>
			<li>
				<a class="footer__link" href="mailto:b.acuna.cas@gmail.com"
					><span
						><iconify-icon
							icon="fluent:mail-28-regular"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>b.acuna.cas@gmail.com</a>
			</li>
			
			<li>
				<a class="footer__link"
                href="https://gitlab.com/b.acuna02"
                target="_blank"
                rel="nofollow noreferrer noopener"
					><span
						><iconify-icon
							icon="pajamas:tanuki"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>@b.acuna02</a>
			</li>
			<li>
				<a class="footer__link"
                href="https://github.com/belfor-acuna"
                target="_blank"
                rel="nofollow noreferrer noopener"
					><span
						><iconify-icon
							icon="mdi:github"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>@belfor-acuna</a>
			</li>
		</ul>
	</aside>
</footer>
