---
import IconComponent from "../../atoms/IconComponent"
const icons = [
  { name: 'VueJS', icon: 'skill-icons:vuejs-dark' },
  { name: 'Docker', icon: 'skill-icons:docker' },
  {name:'Google Cloud', icon:'devicon:googlecloud'},
  {name:'Gitlab', icon:'skill-icons:gitlab-light'},
]
---
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div>
        <!-- Images container -->
        <img
          class="mx-auto max-w-xl rounded-3xl"
          width="800"
          height="600"
          src="/assets/picbox/picboxgif.webp"
          alt="Me working on a project"
        />
        <img
          class="mx-auto max-w-xl rounded-3xl mt-12"
          width="800"
          height="600"
          src="/assets/picbox/uploadpicbox.webp"
          alt="Me working on a project"
        />
      </div>
      <!-- Content -->
      <div class="flex flex-col gap-10">
        <!-- Project explanation -->
        <div class="space-y-8 sm:space-y-12">
          <div class="flex items-center justify-between rounded-3xl">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Stochastics Calculator</h2>
            <div class="flex items-center justify-between gap-x-4">
              {icons.map((icon) => (
                <IconComponent icon={icon.icon} client:load />
              ))}
            </div>
          </div>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              This web application is a big calculator that helps students to solve problems related to Stochastics Processes. It was built using VueJS and deployed using Docker, Google Cloud and gitlab CI/CD. Check the web site <a href="https://calestocasticos.innovalabufro.cl/" class="text-brown-400">here</a>.
          </p>          
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              The interesting thing about this web is that all calculations ire performed on the client side, so the server only serves the static files. This was done to avoid the server to be overloaded with many requests.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              This project also allowed me to apply my deployment skills, which I had previously learned in a course. I set up the website on Google Cloud so the product owner could test it and provide feedback before the final release.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              To streamline this process, I used GitLab CI/CD to automate deployments. This was a great learning experience, giving me hands-on practice with Docker, GitLab, and Google Cloud services.            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


